body {
  background-color: #f5f5dc;
  color: #0c2c55;
  font-family: Georgia, serif;
}

ul a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.card {
  background-color: #ffffff;
  border: 1px solid #0c2c55;
}

.title {
  text-align: center;
}
